<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/ba46022d-2fad-4048-b3b9-4287b9a8435a/resourceGroups/az-204-exam/providers/Microsoft.ContainerRegistry/registries/az204examcontainerregistry</ResourceId>
    <ResourceName>az204examcontainerregistry</ResourceName>
    <ResourceGroup>az-204-exam</ResourceGroup>
    <Subscription>Подписка с оплатой по мере использования</Subscription>
    <RegistryUrl>az204examcontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>594caece-155f-448b-bff8-06a731b93e33</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>